<%= turbo_frame_tag "mods" do %>
  <div class="flex flex-col flex-1 w-full">
    <div class="flex justify-end flex-1">
      <div class="mr-4 text-sm text-icarus-600 dark:text-icarus-500"><%= @total_mods %> mods<%= " (page #{@pagination.current_page} of #{@pagination.total_pages})" if @pagination&.paginated? %></div>
    </div>
    <div class="overflow-hidden border rounded-xl border-slate-200 dark:border-slate-700 bg-white dark:bg-slate-900 mt-2">
      <table class="w-full border-collapse table-auto">
        <thead>
          <tr class="bg-slate-100 dark:bg-slate-800">
            <th class="p-3 text-left text-sm font-semibold text-icarus-500 sm:w-1/5">Name</th>
            <th class="p-3 text-left text-sm font-semibold text-icarus-500 w-auto sm:w-28">Download</th>
            <th class="hidden p-3 text-left text-sm font-semibold text-icarus-500 sm:table-cell sm:w-1/6">Author</th>
            <th class="hidden p-3 text-right text-sm font-semibold text-icarus-500 md:table-cell w-20">Version</th>
            <th class="hidden p-3 text-center text-sm font-semibold text-icarus-500 xl:table-cell w-20">Week</th>
            <th class="hidden p-3 text-left text-sm font-semibold text-icarus-500 xl:table-cell">Description</th>
          </tr>
        </thead>
        <tbody>
          <% if mods.empty? %>
            <tr>
              <td colspan="6" class="p-6 text-xl text-center text-icarus-500">No mods match your query</td>
            </tr>
          <% else %>
            <%= render mods %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render "pagination" %>
  </div>
<% end %>
