<tr id="<%= dom_id mod %>" data-action="click->mods#navigateTo" data-mods-path-param="<%= mod_path(mod.id) %>" class="z-0 hover:bg-slate-200 dark:hover:bg-slate-700 cursor-pointer">
  <td><%= mod.name %></td>
  <td>
    <button
      data-action="mods#download"
      data-mods-url-param="<%= mod.url %>"
      data-mods-file-name-param="<%= mod.filename %>"
      type="button"
      class="z-10 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-2 py-1 text-xs font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Download
    </button>
  </td>
  <td class="hidden sm:table-cell"><%= mod.author %></td>
  <td class="hidden md:table-cell"><%= mod.version_string %></td>
  <td class="hidden lg:table-cell"><%= mod.description %></td>
</tr>
