<tr id="<%= dom_id mod %>"
    data-action="click->mods#navigateTo"
    data-mods-path-param="<%= mod_detail_path(author: mod.author, slug: mod.slug) %>"
    class="z-0 cursor-pointer hover:bg-slate-200 dark:hover:bg-slate-700">
  <td class="p-2"><%= mod.name %></td>
  <td class="p-2">
    <% if mod.url && mod.file_type !~ /exmod/i %>
      <button
        data-action="mods#download"
        data-mods-url-param="<%= raw_url(mod.url) %>"
        data-mods-file-name-param="<%= mod.filename %>"
        type="button"
        class="z-10 inline-flex items-center px-2 py-1 text-xs font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        Download
      </button>
    <% end %>
  </td>
  <td class="hidden p-2 sm:table-cell"><%= mod.author %></td>
  <td class="hidden p-2 md:table-cell"><%= mod.version %></td>
  <td class="hidden p-2 md:table-cell"><%= mod.compatibility.downcase %></td>
  <td class="hidden p-2 xl:table-cell"><%= mod.file_type.upcase %></td>
  <td class="hidden p-2 lg:table-cell"><%= mod.description %></td>
</tr>
