<section class="px-5" data-controller="mods">
  <div class="flex items-center justify-between flex-auto mt-5">
    <div class="flex-1 min-w-0 text-2xl font-bold text-icarus-500 md:text-4xl"><%= @mod.name %></div>
    <% @mod.download_types.each do |type| %>
      <% if @mod.get_url(type) %>
        <button
          data-action="mods#download"
          data-mods-url-param="<%= raw_url(@mod.get_url(type)) %>"
          data-mods-file-name-param="<%= @mod.get_name(type) %>"
          type="button"
          class="inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          DOWNLOAD <%= type.to_s.upcase %>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center justify-between flex-auto">
    <div class="pt-2 text-xl text-blue-500 lg:text-2xl">By <%= @mod.author %></div>
    <div class="text-slate-500"><%= @mod.version_string %></div>
  </div>
  <div class="flex items-start justify-between flex-auto">
    <div class="mt-2 text-sm text-slate-500 dark:text-slate-400">
      <% if @mod.exmodz? %>
        This Mod includes an EXMOD formatted file, which doesn't need updates each week.<br />
        We recommend you use a Mod Manager to install this mod
      <% end %>
    </div>
    <div class="text-sm text-right text-slate-500"><%= @mod.updated_string %></div>
  </div>
  <button
    data-action="mods#navigateTo"
    data-mods-path-param="<%= mod_detail_path(@mod.author, analytics: true) %>"
    class="float-right text-xs text-right anchor-blue"
    type="button">
    Analytics for Mod Authors
  </button>
  <div class="mt-12 min-h-48">
    <%= render("analytics", metadata: @mod.metadata[:status]) if params[:analytics] %>
    <% if @mod.image_url.present? %>
      <img class="hidden float-right w-48 h-48 mb-5 ml-5 rounded md:block" src="<%= raw_url(@mod.image_url) %>">
    <% end %>
    <div class="pt-5 pb-12 prose dark:prose-invert lg:prose-xl"><%= markdown(@mod.details) %></div>
  </div>
  <div class="flex justify-between flex-auto">
    <button
      data-action="mods#navigateTo"
      data-mods-path-param="<%= url_for :back %>"
      type="button"
      class="inline-flex items-center px-4 py-2 mb-4 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Back to List
    </button>
  </div>
</section>
