<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDaedalus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-fixed min-w-screen min-h-screen bg-topo-light dark:bg-topo-dark prose prose-slate dark:prose-invert lg:prose-xl text-slate-800 dark:text-slate-300 bg-slate-200 dark:bg-slate-800">
    <header class="w-screen">
      <%= render "layouts/header" %></header>
    </header>
    <main class="w-screen flex flex-row justify-center">
      <div class="container paper bg-slate-100 dark:bg-slate-900 mt-5 mb-12 p-2 rounded">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
